/* Add your own CSS here */

/* example of button being styled using the selectors assigned to it in the script.js file */

#header{
    color: #FFFCF7;
    font-family:'Times New Roman', Times, serif;
}

.general{
    margin: 10px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    color: rgb(56, 86, 86);
}

.dropdowns{
    margin: 10px;
    padding: 7px;
    width: 100px;
    border-color: rgb(66, 41, 30);
    border-width: 1px;
    background-color: #e2d9c7;
    color: rgb(66, 41, 30);
    border-radius: 3px;
    box-shadow: 2px 4px 6px rgba(82, 81, 81, 0.5);
}

.dropdowns:hover {
    background-color: rgb(211, 240, 212);
    cursor: pointer;
}

.inputs{
    margin: 10px;
    padding: 7px;
    border-color: rgb(66, 41, 30);
    border-width: 1px;
    background-color: #e2d9c7;
    color: rgb(41, 40, 40);
    border-radius: 3px;
    box-shadow: 2px 4px 6px rgba(59, 58, 58, 0.5);
}

.inputs:hover {
    background-color: rgb(211, 240, 212);
    cursor: pointer;
}

.sliders{
    margin: 10px; 
}

#fontslider::-moz-range-track {
background: #88b4be;
}

.radio{
    margin: 15px;
    font-size:17px;
    color: rgb(66, 41, 30);
}

.custom-radio::after{
    background-color: #3498db;
}

.button{
    margin: 10px;
    padding: 7px;
    width: 180px;
    background-color: #e2d9c7;
    box-shadow: 2px 4px 6px rgba(59, 58, 58, 0.5);
    border-color: rgb(66, 41, 30);
    border-width: 1px;
    color: rgb(66, 41, 30);
    border-radius: 3px;
}

.button:hover {
    background-color: rgb(211, 240, 212);
    cursor: pointer;
}




/* Use your own selectors [ids(#) and classes(.) for styling the input elements created in p5]  */
